body {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.titles {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 2;

}

#resultOfGame {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 2;

}

#refresh {
    align-content: center;
    grid-row-start: 1;
    grid-column-start: 2;
    background-image: url('refreshIcon.png');
    background-repeat: no-repeat;
    margin-left: 50px;
}
#mainView {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
 
}

#playRender {

    height: 400px;
    width: 400px;
    grid-row-start: 2;
    grid-column-start: 2;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.playSquares {

    height: 100%;
    width: 100%;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
 
}

.playerScores {
    font-size: 2em;
    margin-top: 10px;
    height: 100px;
    width: 400px;
    grid-row-start: 3;
    grid-column-start: 2;
    /* border: solid;
    border-width: 1px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    font-family: 'Courier New', Courier, monospace;

}

#playerForm {
    width: 400px;
    grid-row-start: 1;
    grid-column-start: 2;
    align-content: center;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#p1 {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 20px;
    font-size: large;
    grid-row-start: 1;
    grid-column-start: 1;

}

#p2 {
    float: right;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 20px;
    font-size: large;
    grid-row-start: 1;
    grid-column-start: 3;
}

button {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-style: hidden;
    font-size: x-large;
    outline: none;
    grid-row-start: 2;
    grid-column-start: 2;
    cursor: pointer;
    /* padding: 20px; */
}

#player1Name {
    text-align: center;
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    border: solid;
    border-width: 1px;
}
#player1Score {
    text-align: center;
    height: 100%;
    grid-row-start: 2;
    grid-column-start: 1;
    border: solid;
    border-width: 1px;
}



#player2Name {
    text-align: center;
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 2;
    border: solid;
    border-width: 1px;
}

#player2Score {
    text-align: center;
    height: 100%;
    grid-row-start: 2;
    grid-column-start: 2;
    border: solid;
    border-width: 1px;
}

.highlighted {

    background-color: lightseagreen;

}
.visible {

    visibility: visible;

}

.hidden {

pointer-events: none;

}

.invisible {

    visibility: hidden;
}

.winner {

    background-color: lightseagreen;
}

