#playRender {

    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.playSquares {

    height: 100%;
    width: 100%;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
 
}